<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Contact Page</title>
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="navbar">
    </div>
    <script src="../static/js/nav.js"></script>
    <main>
        <div class=contact>
            <h1>Contact Information</h1>
            <div class="contact-item">
                <p id="name"> Name: Leif Rogers</p>
            </div>
            <div class="contact-item">
                <p id="email">Email: leifrrogers@gmail.com</p>
            </div>
            <div class="contact-row">
                <label for="github">GitHub: </label>
                <p id="github"><a href="https://github.com/leifsternyc">leifsternyc</a></p>
            </div>
        </div>
    </main>
</body>

</html>