<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <html lang="en">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <div id="navbar">
    </div>
    <script src="../static/js/nav.js"></script>
    <div class="home-background">
        <div id="home-text-overlay">
            <h1>Welcome to WeatherML!</h1>
            <p>Your educational source for weather-related machine learning algorithms.</p>
            <br>
            <p>Visit the models sections to begin your journey!</p>
        </div>
    </div>

    </div id="sources">

</body>

</html>